.section-promotion-edit {
  .section-promotion-edit-main {
    .section-promotion-edit-form {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .form-control:focus,
      .form-check-input:focus,
      .form-select:focus {
        border-color: #ced0d2;
        box-shadow: 0 0 0 0.25rem rgba(192, 212, 232, 0.22);
      }
      .form-check-input:checked {
        background-color: #00708a;
        border-color: #00708a;
      }
      .input-group-text {
        background-color: #f3f0e9;
      }
      .products-list {
        min-height: 12rem;
        width: 100%;
        padding-inline: 1rem;
      }
    }
    .section-promotion-edit-overview {
      .overview-wrapper {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;
        .list-group-item {
          background-color: #ffffff98;
          .list-item-label {
            font-weight: 600;
          }
        }
      }
    }
  }
}
