.dashboard {
  background-color: #f2f5f8;
  width: 100%;
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
}

.container-dashboard {
  position: relative;
  display: flex;
  .dashboard-sidebar {
    flex: 0;
    @media screen and (min-width: 768px) {
      width: 15%;
    }
  }
  .dashboard-content {
    width: 80%;
    margin: auto;
    @media screen and (min-width: 768px) {
      margin-block: 3rem;
    }
  }
}
