.dashboard {
  background-color: #f2f5f8;
  width: 100%;
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
}

.container-dashboard {
  position: relative;
  display: flex;
  .dashboard-sidebar {
    flex: 0;
    @media screen and (min-width: 768px) {
      width: 15%;
    }
  }
  .dashboard-content {
    width: 100%;
    margin: auto;
    @media screen and (min-width: 768px) {
      margin-block: 3rem;
      width: 80%;
    }

    section.section-category-list,
    section.section-product-list,
    section.section-promotion-list,
    section.section-user-list {
      width: 100%;
      height: 44rem;
      padding-inline: 3.6rem;
      .section-category-list-header,
      .section-product-list-header,
      .section-promotion-list-header,
      .section-user-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        h3 {
          margin-bottom: 0;
        }
      }
      .section-category-list-table-container,
      .section-product-list-table-container,
      .section-promotion-list-table-container,
      .section-user-list-table-container {
        .section-category-list-table,
        .section-product-list-table,
        .section-promotion-list-table,
        .section-user-list-table {
          position: relative;
          height: 32.9rem;
          .MuiDataGrid-cell,
          .MuiDataGrid-columnHeader {
            padding-left: 1rem;
          }
          .MuiDataGrid-cell:focus,
          .MuiDataGrid-cell:focus-within,
          .MuiDataGrid-columnHeader:focus-within,
          .MuiDataGrid-cell:focus-within {
            outline: none;
          }
        }
        .MuiDataGrid-root {
          overflow: hidden !important;
        }
        .MuiDataGrid-virtualScroller {
          height: 37.5rem;
          overflow: hidden !important;
        }
        .MuiDataGrid-columnHeaders.MuiDataGrid-withBorderColor,
        .MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor {
          background-color: #edeff3;
        }
        .MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor
          .MuiTablePagination-displayedRows {
          margin-bottom: 0;
        }
      }
    }
  }
}
