main.main-catalog {
  position: relative;
  background-color: #efebe3;
  width: 100%;
  .container {
    position: relative;
    width: 100%;
    background-color: white;
    padding-block: 5rem;
    h1 {
      color: #095262;
      margin-inline: auto;
      text-align: center;
      font-size: clamp(1.5rem, 3vw, 2.4rem);
      font-weight: 500;
      line-height: 115%;
      text-transform: uppercase;
      max-width: 25ch;
      margin-bottom: 2rem;
    }
  }
}
