.custom-tooltip {
  box-shadow: #64646f33 0px 7px 29px 0px;
  background-color: #ffffff96;
  padding: 1rem;
  border-top: 1px solid #ffffffda;
  border-right: 1px solid #ffffffbb;
  border-bottom: 1px solid #c2c2c29d;
  border-left: 1px solid #c2c2c2b9;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
