/** fonts **/
@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Black.ttf);
  font-weight: black;
}

/** reset css **/
*,
*::after,
*::before {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:not(input textarea) {
  -webkit-user-select: none;
  user-select: none;
}

body {
  overflow-x: hidden;
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background-color: #f2f5f8;
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

.strong {
  color: #feb95f;
}

.container:not(nav .container) {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.05);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #efebe3;
  /* padding top based on min-height of navbar(position: fixed-top) */
  padding-top: 4.6rem;
}

.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: none;
}

button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 38px;
  transition: all 0.25s ease-out;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.326);
  box-shadow: rgba(39, 39, 39, 0.36) 0px 3px 9px;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.327));
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.227));
}
button.btn > * {
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.327));
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.327));
}
button.btn:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
}
button.btn,
button.btn:hover,
button.btn:focus-visible {
  border-color: transparent;
}
button.btn.btn-primary {
  background-color: #00708a;
  border-color: #044f5f;
}
button.btn.btn-primary:hover,
button.btn.btn-danger:active,
button.btn.btn-primary:focus-visible {
  background-color: #044f5f;
}
button.btn.btn-primary:focus-visible {
  box-shadow: 0 0 0 0.25rem #00708a80;
}
button.btn.btn-danger {
  background-color: #c30808;
  border-color: #a71207;
}
button.btn.btn-danger:hover,
button.btn.btn-danger:active,
button.btn.btn-danger:focus-visible {
  background-color: #a71207;
}
button.btn.btn-danger:focus-visible {
  box-shadow: 0 0 0 0.25rem #c3080880;
}
